In [1]:
#  tuple is a collection which is ordered and unchangeable. 
# tuples are written with round brackets and 

# how to create a tuple

tup = ("newcastle","arsenal","chelsea","liverpool")
print(type(tup))

<class 'tuple'>

In [18]:
# creating one item tuple// always remember to include a comma, in a one item tuple

x = ("school",)
print(x)
print(type(x))

('school',)
<class 'tuple'>

In [16]:
# accessing items on tuple

print(tup[1])
print(type(tup))

spurs
<class 'tuple'>

In [3]:
# accessing tuple using negative index 

print(tup[-2])

chelsea

In [4]:
# acessing range of negative items

print(tup[-3 : -1])

('arsenal', 'chelsea')

In [5]:
# accessing range of items in a tuple

tup = ("newcastle","arsenal","chelsea","liverpool")

print(tup[:])
print(tup[1:4])

('newcastle', 'arsenal', 'chelsea', 'liverpool')
('arsenal', 'chelsea', 'liverpool')

In [6]:
# making changes in tuple
# once a tuple is created it can't be changed
# however, one can work around it by (1) converting tuple to list (2) make the changes (3) convert back to tuple

x = list((tup))
x.insert(1, "spurs")
tup = tuple(x)
print(tup)

('newcastle', 'spurs', 'arsenal', 'chelsea', 'liverpool')

In [7]:
# Loop Through a Tuple

for x in tup:
    print(x)

newcastle
spurs
arsenal
chelsea
liverpool

In [8]:
# Check if Item Exists

if "newcastle" in tup:
    print("I am a fan of newcastle united")

I am a fan of newcastle united

In [9]:
# tuple length

print(len(tup))

5

In [21]:
# remove an item
# items can't be remove from tuple but the whole can be deleted

del x
print(x) # this will generate an error because the tuple no longer exist

NameError: name 'x' is not defined

In [25]:
# Join two tuples:

x = ("chalk","school","homework","uniform")
v = ("biro","pencil","eraser")
y = (x + v)
print(y)

('chalk', 'school', 'homework', 'uniform', 'biro', 'pencil', 'eraser')

In [28]:
# The tuple() Constructor
# creating tuple using the double bracket

z = tuple(("liverpool united","have won champions league", "for a total of 10 times" ))
print(z)

('liverpool united', 'have won champions league', 'for a total of 10 times')

In [29]:
# Python Tuple count() Method

w = y.count("biro")
print(w)

1

In [31]:
# Python Tuple index() Method
# search for the 1st occurence of a value and return its position

j = y.index("pencil")
print(j)

5